<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <br>
    <p>선택한 게시글 [ {{ board.title }}, {{ board.writer }} ]를 정말 삭제하시겠습니까?</p>
    <form method="post">
        {% csrf_token %}
        <a href ="{% url 'board:delete' board.id %}"><button>삭제</button></a><br>
    </form>
    <a href ="{% url 'board:list' %}">취소</a>
</body>
</html>